@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cabecalho-imagem{
    height: 90px;
    padding: 12px;
}

.cabecalho-nav{
    display: flex;
    gap: 32px;
}

.cabecalho-nav-a{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: #000000;
}

.conteudo{
    padding-top: 32px;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 32px;
    padding-left: 32px;
}

.conteudo-principal-escrito-titulo{
    font-family: 'Montserrat', sans-serif;
    font-size: 56px;
    font-weight: 600;
    color: #000000;
}

.conteudo-principal-escrito-subtitulo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #000000;
}

.conteudo-principal-escrito-botao{
    background-color: #31165B;
    width: 360px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    color: #FFFFFF;
}

.conteudo-principal-escrito-botao:hover{
    background-color: #5C677D;

}

.conteudo-principal-imagem{
    height: 70vh;
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
    margin-top: 48px;
    padding-bottom: 48px;
}

.conteudo-secundario-titulo{
    font-family: 'Quicksand', sans-serif;
    font-size: 32px;
    color: #FFFFFF;
}

.conteudo-secundario-info{
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
    color: #000000;
}

.rodape{
    padding: 36px;
}
    
.rodape-imagem{
    width: 500px;
    display: block;
    margin: 0 auto;
}